# Pink Panda board configuration

if BOARD_PINK_PANDA

config HW_STACK_PROTECTION
	default ARCH_HAS_STACK_PROTECTION

config BOARD_REQUIRES_SERIAL_BACKEND_CDC_ACM
	default n

source "boards/common/usb/Kconfig.cdc_acm_serial.defconfig"

endif # BOARD_PINK_PANDA
