/*
 * Copyright (c) 2022 Bitcraze AB
 * Copyright (c) 2020 Nordic Semiconductor ASA
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "bitcraze_crazyradio_2-pinctrl.dtsi"

/ {
	model = "Bitcraze Crazyradio 2.0";
	compatible = "nordic,bitcraze_crazyradio_2";

	chosen {
		// zephyr,console = &uart0;
		// zephyr,shell-uart = &uart0;
		// zephyr,uart-mcumgr = &uart0;
		// zephyr,bt-mon-uart = &uart0;
		// zephyr,bt-c2h-uart = &uart0;
		zephyr,console = &cdc_acm_uart;
		zephyr,shell-uart = &cdc_acm_uart;
		zephyr,uart-mcumgr = &cdc_acm_uart;
		zephyr,bt-mon-uart = &cdc_acm_uart;
		zephyr,bt-c2h-uart = &cdc_acm_uart;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,ieee802154 = &ieee802154;
	};

	ios {
		compatible = "gpio-leds";
		io1: io_1 {
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
			label = "IO1";
		};
		io2: io_2 {
			gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
			label = "IO2";
		};
		io3: io_3 {
			gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
			label = "IO3";
		};
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
			label = "Red LED";
		};
		led1: led_1 {
			gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};
		led2: led_2 {
			gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch 0";
		};
	};

	nrf_radio_fem: nrf21540_fem {
		compatible = "nordic,nrf21540-fem";
		tx-en-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
		rx-en-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
		pdn-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
		ant-sel-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		mode-gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
		spi-if = <&nrf_radio_fem_spi>;
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		io1 = &io1;
		io2 = &io2;
		io3 = &io3;
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		sw0 = &button0;
		bootloader-led0 = &led0;
		mcuboot-button0 = &button0;
		mcuboot-led0 = &led0;
		watchdog0 = &wdt0;
	};
};

&uicr {
	gpio-as-nreset;
	nfct-pins-as-gpios;
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

fem_spi: &spi3 {
	status = "okay";
	cs-gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;

	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";
	nrf_radio_fem_spi: nrf21540_fem_spi@0 {
		compatible = "nordic,nrf21540-fem-spi";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <125000>;
	};
};

&radio {
	fem = <&nrf_radio_fem>;
};

&ieee802154 {
	status = "okay";
};

/* Include flash partition table.
 * Two partition tables are available:
 * fstab-stock		-compatible with Nordic nRF5 bootloader, default
 * fstab-debugger	-to use an external debugger, w/o the nRF5 bootloader
 */
#include "fstab-debugger.dts"

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";

	cdc_acm_uart: cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
	};
};